<div style="margin-top:50px;" class="f" id="f">
  <footer class="bg-light text-center text-white">
      <div class="container p-4 pb-0">
          <h5 style="color: black;">follow us on :</h5>
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998;"
            href="https://www.facebook.com/RapSceneAr/" role="button" target="_blank" ><i class="fa fa-facebook-f"></i></a>
    
          <!-- Twitter -->
          <a class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee;"
            href="https://twitter.com/rapscenear?lang=en" role="button" target="_blank"><i class="fa fa-twitter"></i></a>
    
    
          <!-- Instagram -->
          <a class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac;"
            href="https://www.instagram.com/rapscenear/?hl=en" role="button" target="_blank"><i class="fa fa-instagram"></i></a>

          <!-- Youtube -->
          <a class="btn btn-primary btn-floating m-1"
          style="background-color: #f00;"
          href="https://www.youtube.com/channel/UCZhoQ7RWid75KCcWNsBIy5A" role="button" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </section>
      </div>

      <div class="text-center p-3" style="background-color: rgb(0, 0, 0); line-height:10px ;">
          © 2020 Copyright: Rap Scene
      </div>
      <!-- Copyright -->
</footer>
<div>