{% extends "main.html"%}
{% load static %}

{% block title%}
Rap Scene - community
{% endblock %}


{% block style%}
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
{% endblock %}


{% block body%}
<div clas="container">
    <button type="submit" class="btn btn-primary btn-block"  style="margin: 10px;" id="post">add post </button>
</div>
<div class="container" style="display: none;" id="cf">
    <div class="text-center logo my-4 h1">
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body" id= "card">
            <h3 class="card-title">add post</h3>
            <form method="post"  enctype="multipart/form-data" id="form"  >
              {% csrf_token %}
              {% include 'form.html' %}
              <button type="submit" class="btn btn-primary btn-block" id="sub" style="margin: 10px;"  >post </button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


<div  dir="rtl" style="margin:auto; width:50%;margin-top:10px">
  {% for i in posts %}
  <div style="border-right:2px solid #000;padding:10px;">
    <p style="size: 10px;">{{i}}</p>
    <p style="opacity: .5;">{{i.created_dt}}</p>
    <a href="{% url 'accounts:s_post' i.pk%}" style="text-decoration: none;">
    <p class="h1" >{{i.caption}}</p>
    {% if i.image%}
    <img src="/media/{{i.image}}" width=200px >
    {%endif%}
  </a>
  </div>
  <hr >
  {% endfor %}
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>

{% if not user.is_authenticated %}
  <script>
    $(document).ready(function() {
        $("#form :input").prop("disabled",true);

        $("#card").click(function(){
            Swal.fire("please login to add post");
        });
    });
  </script>
{% endif %}
<script>
  $(document).ready(function() {
      $("#post").click(function(){
          $("#cf").slideToggle(500)
      });

      $("#sub").click(function(e){
          e.preventDefault()
          if( document.getElementById("id_caption").value || document.getElementById("id_image").value){
            Swal.fire("Post has been sent successfully ,pending admin review");
            setTimeout(() => {  console.log("World!"); }, 3000);
            $("#form").submit()
          }else{
            Swal.fire("You can't post an empty post");
          }

      });
  });

</script>

{% endblock%}